body { font: 12px Arial;}

h1, h2 {
    padding-left: 10px;
}

#visualEncodings {
    padding-left: 10px;
}

#controlFeatures {
    padding-left: 10px;
}

#buttons{
    margin-top: 20px;
    margin-left: 5px;
}
#date{
    float:right;
    margin-right: 40px;
}
#legendContainer{
	position:absolute;
	top:60px;
	left:10px;
	overflow: auto;
	height:490px;
	width:110px;
}
#legend{
	width:90px;
	height:200px;
}
.legend {
    font-size: 12px;
    font-weight: normal;
    text-anchor: left;
}
.legendcheckbox{
	cursor: pointer;
}